*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# IntelliJ IDEA
/.idea/
/out/

#IntelliJ Shortcut
IntelliJ IDEA Community Edition 15.0.2

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
